{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
    <main id="pagesIndex">
        <p>pages/index</p>
    </main>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
